footer {
  background-color: #f2f2f2;
}

body{
  font-family: sans-serif;
}
.curriculum > .col > h1 {
  text-align: center;
  border-bottom: 2px solid #000;
}

.dadosprincipais {
  float: right;
}

.dados > image  {
  float: right;
  max-height: 100px;
}

.dadosprofissional > h1 {
  text-align: center;
  border-style: ridge;
}
