.cont > .curriculum > .col > .h1 {
    font-family: sans-serif;
}

.cont {
  font-family: sans-serif;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
}

.curriculum > .col > h1 {
  text-align: center;
  border-bottom: 2px solid #000;
}

.dadosprincipais {
  float: right;
}

.dados > image  {
  float: right;
  max-height: 100px;
}

.dadosprofissional > h1 {
  text-align: center;
}

.container > .dadospro > .col > .dadosprofissional p {
  font-size: 40px;
}

.container > .final > h1 {
  font-size: 15px;
}

.cfixed {
  position: fixed;
  top: 0;
}
